body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.calculator {
    height: 50vw;
    width: 40vw;
    background-color: lightblue;
}

.output {
    
    height: 20%;
    background-color: lightcoral;
    text-align: right;
    font-size: 100px;
    padding-right: 10px;
    padding-top: 0px;
    font-kerning: none;
}

.calc-buttons {
    display:flex;
    height:80%;
}

.numbers {
    background-color: azure;
    width: 80%;
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 25%;
}

.number {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    height: 80%;
}

.operators{
    width: 20%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}

.operator {
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
}

.clear {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
}

.equal {
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10%;
}
