:root {
    --background-col: #7395AE;
    --calc-color: #b1a296;
    --screen-color: #379683;
    --spcl-button-color: #f3d250;
    --op-button-color: #b1a296;
    --num-button-color: #24305E;
}


body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: var(--background-col);
}

.calculator {
    height: 50vw;
    width: 40vw;
    background-color: var(--calc-color);
    border-style: solid;
    border-radius: 2px;
    border-width: 1px;
}

.output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 20%;
    width:95%;
    background-color: #379683;
    font-size: 10vw;
    padding-right: 10px;
    margin: 5px;
    border-style: none;
    border-radius: 3px;
}

.calc-buttons {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 19%;
}

.push-button {
    background-color: var(--basic-button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width:21%;
    height: 85%;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px black;
    font-size: 4vw;
}

.basic {
    background-color: var(--num-button-color);
    box-shadow: black;
    border-color: black;
    color: white;
    font-weight: 900;
    
}

.clear {
    background-color: var(--spcl-button-color);
    
}

.equal {
    background-color: var(--spcl-button-color);

}

.depressed {
    opacity: 70%;
    box-shadow: 2px 2px 2px;           
}
